{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">نویسندگان</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>نویسندگان</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="author_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="author_left_sidebar">
                            {% for author in authors %}
                                <article class="author_item">
                                    <div class="author_item_img">
                                        <img class="card-img rounded-0" src="{{ author.picture.url }}" alt="">
                                        <a href="#" class="author_item_gener">
                                            <h3>زمینه</h3>
                                            <p>{{ author.field_of_writing.all|first }}</p>
                                        </a>
                                    </div>
                                    <div class="author_details">
                                        <a class="d-inline-block" href="{% url 'literature:author_detail' author.id %}">
                                            <h2 class="author-head" style="color: #2d2d2d;">{{ author.full_name }}</h2>
                                        </a>
                                        <p>{{ author.biography|truncatewords:50 }}</p>
                                        <ul class="author-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> {{ author.abooks.all.count }} کتاب</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 3 نظر</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% empty %}

                            {% endfor %}


                            <nav class="author-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="author_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <form action="" method="get">
                                                <input type="text" class="form-control" placeholder="جستجو" name="search">
                                                <div class="input-group-append d-flex">
                                                    <button class="boxed-btn2" type="submit">جستجو</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">زمینه نویسندگی</h4>
                                <ul class="list cat-list">
                                    {% for field in fields %}
                                        <li>
                                            <a href="{% url 'literature:authors' %}?field_of_writing={{ field.id }}"
                                               class="d-flex">
                                                <p>{{ field.name }}</p>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <p>خالی</p>
                                    {% endfor %}


                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">نویسندگان برتر</h3>
                                {% for author in authors %}
                                	<div class="media post_item">
                                    <img src="{{ author.picture.url }}" alt="post">
                                    <div class="media-body">
                                        <a href="{% url 'literature:author_detail' author.id %}">
                                            <h3 style="color: #2d2d2d;">{{ author.full_name }}</h3>
                                        </a>
                                        <p>{{ author.abooks.all.count }} کتاب</p>
                                    </div>
                                </div>
                                {% empty %}
                                	خالی
                                {% endfor %}
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">پیشه</h4>
                                <ul class="list cat-list">
                                    {% for prof in professions %}
                                        <li>
                                            <a href="{% url 'literature:authors' %}?profession={{ prof.id }}"
                                               class="d-flex">
                                                <p>{{ prof.name }}</p>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <p>خالی</p>
                                    {% endfor %}


                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">ملیت</h4>
                                <ul class="list cat-list">
                                    {% for n in nationalities %}
                                        <li>
                                            <a href="{% url 'literature:authors' %}?nationality={{ n.id }}"
                                               class="d-flex">
                                                <p>{{ n.name }}</p>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <p>خالی</p>
                                    {% endfor %}


                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">خبرنامه کابانا</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'ایمیل'" placeholder="ایمیل" required="">
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">عضویت
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}