{% extends 'base.html' %}
{% load static %}
{% load book_extras %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                    </li>
                    <li>
                        <a href="categories.html" class="breadcrumb-link">دسته بندی کتب</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">جزئیات کتاب</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="book-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">

                                <div class="single-book d-flex align-items-center mb-0">
                                    <div class="book-img">
                                        {% for bimage in book.bimages.all %}
                                            <img src="{{ bimage.image.url }}" alt="">
                                        {% empty %}
                                            <img src="{{ book.cover_image.url }}" alt="">
                                        {% endfor %}
                                    </div>
                                    <div class="book-caption">
                                        <h3>{{ book.title }}</h3>

                                        <div class="review">
                                            <div class="rating">
                                                <div class="rating">
                                                    {{ book.rate|render_stars|safe }}
                                                </div>
                                            </div>
                                            <p>(<span>{{ book.comment.all.count }}</span> نظر)</p>
                                        </div>

                                        <p>نویسنده:
                                            {% for author in book.author.all %}
                                                <a href="{% url 'literature:author_detail' author.id %}"
                                                   target="_self">{{ author.full_name }}</a>
                                            {% endfor %}
                                        </p>
                                        <p>مترجم:
                                            {% for translator in book.translator.all %}
                                                <a href="{% url 'literature:translator_detail' translator.id %}"
                                                   target="_self">{{ translator.name }}</a>
                                            {% endfor %}
                                        </p>
                                        <p>ناشر: <a href="{% url 'literature:publisher_detail' book.publisher.id %}"
                                                    target="_self">{{ book.publisher }}</a></p>
                                        <div class="price">
                                            <p>{{ book.price }}<span>تومان</span></p>
                                        </div>
                                        <form action="{% url 'orders:cart_add' book.id %}" method="post" novalidate>
                                            {% csrf_token %}
                                            <input type="hidden" name="content_id" value="{{ book.id }}">
                                            <button type="submit" class="white-btn mr-10">
                                                افزودن به سبد خرید
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10">
                        <div class="nav-button f-right">

                            <nav>
                                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                       role="tab" aria-controls="nav-one" aria-selected="true">توضیحات</a>
                                    <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab"
                                       aria-controls="nav-two" aria-selected="false">درباره نویسنده</a>
                                    <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three"
                                       role="tab" aria-controls="nav-three" aria-selected="false">مشخصات کتاب</a>
                                    <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four"
                                       role="tab" aria-controls="nav-four" aria-selected="false">نظرات</a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                        <div class="row">
                            <div class="desc-tab offset-xl-1 col-lg-9">
                                <p>{{ book.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
                        {% for author in book.author.all %}
                            <div class="row">
                                <div class="author-img row-cols-3" style="padding: 0">
                                    {% if author.picture %}
                                        <img src="{{ author.picture.url }}" alt="" style="width: 100%; height: 100%">
                                    {% else %}
                                        <img src="{% static 'img/default_avatar/default-avatar.png' %}" alt=""
                                             style="width: 100%; height: 100%">
                                    {% endif %}

                                </div>
                                <div class="author-tab offset-xl-1 col-lg-9">
                                    <p>{{ author.biography }}</p>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">

                        <div class="row">
                            <div class="table-book offset-xl-1 col-lg-9">
                                <table class="details">
                                    <thead>
                                    <tr>
                                        <th class="first">نام کتاب</th>
                                        <th class="second">{{ book.title }}<br></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="first">نویسنده</td>
                                        {% for author in book.author.all %}
                                            <td class="second">{{ author.full_name }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="first">مترجم</td>
                                        {% for translator in book.translator.all %}
                                            <td class="second">{{ translator.name }}</td>
                                        {% endfor %}

                                    </tr>
                                    <tr>
                                        <td class="first">ناشر</td>
                                        <td class="second">{{ book.publisher.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">سال انتشار</td>
                                        <td class="second">{{ book.publication_date|date:'Y' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">فرمت کتاب</td>
                                        <td class="second">{{ book.format }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">تعداد صفحات</td>
                                        <td class="second">{{ book.pages }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">زبان</td>
                                        <td class="second">{{ book.language }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">شابک</td>
                                        <td class="second">{{ book.isbn }}</td>
                                    </tr>
                                    <tr>
                                        <td class="first">موضوع کتاب</td>
                                        {% for category in book.category.all %}
                                            <td class="second">{{ category.name }}</td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">

                        <div class="row">
                            <div class="comment-tab offset-xl-1 col-lg-9">
                                <div class="container bootdey">
                                    <div class="col-md-12 bootstrap snippets">

                                        {% if request.user.is_authenticated %}
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form action="{% url 'home:comment' request.user.id model_name book.id app_label %}"
                                                          method="post"
                                                          novalidate>
                                                        {% csrf_token %}
                                                        {{ form.body }}
                                                        <div class="mar-top clearfix">
                                                            <button class="btn btn-sm btn-primary pull-right"
                                                                    type="submit"><i
                                                                    class="fa fa-pencil fa-fw"></i> ارسال نظر
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}


                                        <div class="panel">
                                            <div class="panel-body">
                                                {% for comment in comments %}
                                                    <div class="media-block">
                                                        <a class="media-right"
                                                           href="{% url 'accounts:profile' comment.user.id %}">
                                                            {% if comment.user.profile.profile_picture %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{{ comment.user.profile.profile_picture.url }}">
                                                            {% else %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                            {% endif %}
                                                        </a>
                                                        <div class="media-body">
                                                            <div class="mar-btm">
                                                                <a href="{% url 'accounts:profile' comment.user.id %}"
                                                                   class="btn-link text-semibold media-heading box-inline"
                                                                   style="text-decoration: none">
                                                                    {% if comment.user.profile.first_name %}
                                                                        {{ comment.user.profile.first_name }}
                                                                        {{ comment.user.profile.last_name }}
                                                                    {% else %}
                                                                        بدون نام
                                                                    {% endif %}
                                                                </a>
                                                                <p class="text-muted text-sm"><i
                                                                        class="fa fa-check fa-lg"></i>
                                                                    {% if comment.user.id == post.user.id %}
                                                                        ادمین
                                                                    {% else %}
                                                                        کاربر سایت
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <p>{{ comment.body }}</p>
                                                            <div class="pad-ver d-flex">
                                                                {#                                                                <div class="btn-group">#}
                                                                {#                                                                    {% if liked %}#}
                                                                {#                                                                        <form action="{% url 'home:like_comment' 'comment' comment.id 'post' post.id %}"#}
                                                                {#                                                                              method="post">#}
                                                                {#                                                                            {% csrf_token %}#}
                                                                {#                                                                            <button type="submit"#}
                                                                {#                                                                                    class="btn btn-sm btn-default btn-hover-success"#}
                                                                {#                                                                                    style="background-color: #00a4a6!important;#}
                                                                {#                                                                                    color: white">#}
                                                                {#                                                                                <i#}
                                                                {#                                                                                        class="fa fa-thumbs-up"></i>#}
                                                                {#                                                                                <span>1</span>#}
                                                                {#                                                                            </button>#}
                                                                {#                                                                        </form>#}
                                                                {##}
                                                                {#                                                                    {% else %}#}
                                                                {#                                                                        <form action="{% url 'home:like_comment' 'comment' comment.id 'post' post.id %}"#}
                                                                {#                                                                              method="post">#}
                                                                {#                                                                            {% csrf_token %}#}
                                                                {#                                                                            <button type="submit"#}
                                                                {#                                                                                    class="btn btn-sm btn-default btn-hover-success active">#}
                                                                {#                                                                                <i#}
                                                                {#                                                                                        class="fa fa-thumbs-up"></i>#}
                                                                {#                                                                                <span>1</span>#}
                                                                {#                                                                            </button>#}
                                                                {#                                                                        </form>#}
                                                                {#                                                                    {% endif %}#}
                                                                {#                                                                </div>#}
                                                                <a class="btn btn-sm btn-default btn-hover-primary reply-btn"
                                                                   href="javascript:void(0)">پاسخ</a>
                                                            </div>

                                                            <!-- فرم ریپلای -->
                                                            <form action="{% url 'home:comment_reply' request.user.id model_name book.id comment.id app_label %}"
                                                                  method="post" novalidate>
                                                                {% csrf_token %}
                                                                <div class="reply-form"
                                                                     style="display: none; margin-top: 10px;">
                                                                    {{ form_reply.body }}
                                                                    <button class="btn btn-primary btn-sm"
                                                                            style="margin-top: 5px;">ارسال
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            <hr>

                                                            <!-- Comments -->
                                                            <div>
                                                                {% with replies=comment.rcomments.all %}
                                                                    {% for reply in replies %}
                                                                        <div class="media-block">
                                                                            <a class="media-right"
                                                                               href="{% url 'accounts:profile' reply.user.id %}">
                                                                                {% if reply.user.profile.profile_picture %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{{ reply.user.profile.profile_picture.url }}">
                                                                                {% else %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                                                {% endif %}
                                                                            </a>
                                                                            <div class="media-body">
                                                                                <div class="mar-btm">
                                                                                    <a href="{% url 'accounts:profile' reply.user.id %}"
                                                                                       class="btn-link text-semibold media-heading box-inline"
                                                                                       style="text-decoration: none"
                                                                                    >
                                                                                        {% if reply.user.profile.first_name %}
                                                                                            {{ reply.user.profile.first_name }}
                                                                                            {{ reply.user.profile.last_name }}
                                                                                        {% else %}
                                                                                            بدون نام
                                                                                        {% endif %}
                                                                                    </a>
                                                                                    <p class="text-muted text-sm">
                                                                                        <i
                                                                                                class="fa fa-person fa-lg">
                                                                                        </i>
                                                                                        {% if reply.user.id == post.user.id %}
                                                                                            ادمین
                                                                                        {% else %}
                                                                                            کاربر سایت
                                                                                        {% endif %}
                                                                                    </p>
                                                                                </div>
                                                                                <p>{{ reply.body }}</p>
                                                                                <div class="pad-ver">
                                                                                    <div class="btn-group">
                                                                                        {#                                                                                        {% if liked %}#}
                                                                                        {#                                                                                            <form action="{% url 'home:like' 'post' post.id %}"#}
                                                                                        {#                                                                                                  method="post">#}
                                                                                        {#                                                                                                {% csrf_token %}#}
                                                                                        {#                                                                                                <button type="submit"#}
                                                                                        {#                                                                                                        class="white-btn mr-10"#}
                                                                                        {#                                                                                                        style="background-color: #00a4a6; color: white">#}
                                                                                        {#                                                                                                    عدم پسندیدن#}
                                                                                        {#                                                                                                    <span style="margin-right: 5px">{{ form_like.content_id }}</span>#}
                                                                                        {#                                                                                                </button>#}
                                                                                        {#                                                                                            </form>#}
                                                                                        {##}
                                                                                        {#                                                                                        {% else %}#}
                                                                                        {#                                                                                            <form action="{% url 'home:like' model_name post.id %}"#}
                                                                                        {#                                                                                                  method="post">#}
                                                                                        {#                                                                                                {% csrf_token %}#}
                                                                                        {#                                                                                                <button type="submit"#}
                                                                                        {#                                                                                                        class="btn btn-sm btn-default btn-hover-success active">#}
                                                                                        {#                                                                                                    <i#}
                                                                                        {#                                                                                                            class="fa fa-thumbs-up"></i>#}
                                                                                        {#                                                                                                    <span>1</span>#}
                                                                                        {#                                                                                                </button>#}
                                                                                        {#                                                                                            </form>#}
                                                                                        {#                                                                                        {% endif %}#}

                                                                                    </div>
                                                                                </div>
                                                                                <hr>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <section class="blog-meta">
                                                        <div class="container">
                                                            <p>منتظر دیدگاه شما هستیم!</p>
                                                        </div>
                                                    </section>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="author-books section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55" id="books">
                            <h2>کتاب های مرتبط</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="author-books-box slick-initialized slick-slider slick-dotted">
                                <div class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1;">

                                        {% for book in related_books %}
                                            <div class="properties pb-20 slick-slide"
                                                 style="width: 244px; margin: 8px"
                                                 tabindex="-1" role="tabpanel"
                                                 aria-describedby="slick-slide-control{{ forloop.counter }}"
                                                 data-slick-index="{{ forloop.counter }}" aria-hidden="false">
                                                <div class="properties-card">
                                                    <div class="properties-img">
                                                        <a href="{% url 'literature:book_detail' book.id %}"
                                                           tabindex="0">
                                                            <img src="{{ book.cover_image.url }}"
                                                                 alt="{{ book.title }}"
                                                                 class="img-fluid"
                                                                 style="height: 369px">
                                                        </a>
                                                    </div>
                                                    <div class="properties-caption">
                                                        <h3>
                                                            <a href="{% url 'literature:book_detail' book.id %}"
                                                               tabindex="0">{{ book.title }}
                                                            </a>
                                                        </h3>
                                                        <div class="properties-footer">
                                                            <div class="review">
                                                                <div class="rating">
                                                                    {{ book.rate|render_stars|safe }}
                                                                </div>
                                                                <p>(<span>{{ book.comment.all.count }}</span> نظر)
                                                                </p>
                                                            </div>
                                                            <div class="price">
                                                                <p>{{ book.price }}<span>تومان</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% empty %}
                                            <p>کتابی از این نویسنده در دسترس نیست!</p>
                                        {% endfor %}

                                    </div>
                                </div>
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    {% for book in related_books %}
                                        <li class="{% if forloop.first %}slick-active{% endif %}" role="presentation">
                                            <button type="button" role="tab"
                                                    id="slick-slide-control{{ forloop.counter }}"
                                                    aria-controls="slick-slide{{ forloop.counter }}"
                                                    aria-label="{{ forloop.counter }} of {{ books|length }}"
                                                    tabindex="0"
                                                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                                {{ forloop.counter }}
                                            </button>
                                        </li>
                                    {% empty %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script>
        // اضافه کردن رویداد کلیک به دکمه پاسخ
        document.querySelectorAll('.reply-btn').forEach(button => {
            button.addEventListener('click', function () {
                // یافتن فرم مرتبط با دکمه
                const replyForm = this.closest('.pad-ver').nextElementSibling.querySelector('.reply-form');
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block'; // نمایش فرم
                } else {
                    replyForm.style.display = 'none'; // مخفی کردن فرم
                }
            });
        });
    </script>
{% endblock %}