{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                    </li>
                    <li>
                        <span class="breadcrumb-active">دسته بندی کتب</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg4 d-flex align-items-center">
                            <div class="hero-caption hero-caption2">
                                <h2>دسته بندی موضوعی</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="listing-area pt-50 pb-50">
            <div class="container">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">

                            <div class="category-listing mb-50">

                                <div class="single-listing">

                                    <div class="select-Categories pb-30">
                                        <div class="small-tittle mb-20">
                                            <h4>دسته بندی</h4>
                                        </div>
                                        {% for category in categories %}
                                            <label class="container">{{ category.name }}
                                                <input type="checkbox"
                                                       name="category"
                                                       value="{{ category.id }}"
                                                        {% if category.id|stringformat:"s" in selected_categories %}
                                                       checked
                                                        {% endif %}>
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>

                                    <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">
                                        <div class="small-tittle">
                                            <h4>فیلتر قیمت</h4>
                                        </div>
                                        <div class="widgets_inner">
                                            <div class="filter">
                                                <label class="filter__label">
                                                    <input type="text"
                                                           name="min_price"
                                                           placeholder="حدافل قیمت"
                                                           value="{{ min_price }}"
                                                           class="filter__input">
                                                </label>

                                                <label class="filter__label">
                                                    <input type="text"
                                                           name="max_price"
                                                           placeholder="حداکثر قیمت"
                                                           value="{{ max_price }}"
                                                           class="filter__input">
                                                </label>

                                                <div id="sliderPrice"
                                                     class="filter__slider-price noUi-target noUi-rtl noUi-horizontal noUi-txt-dir-rtl"
                                                     data-min="0" data-max="1500000" data-step="10000"
                                                     >
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect"
                                                                 style="transform: translate(0%, 0px) scale(1, 1);"></div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                             style="transform: translate(0%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower" data-handle="0"
                                                                 tabindex="0" role="slider"
                                                                 aria-orientation="horizontal"
                                                                 aria-valuemin="0.0" aria-valuemax="150000.0"
                                                                 aria-valuenow="0.0" aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                             style="transform: translate(-100%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper" data-handle="1"
                                                                 tabindex="0" role="slider"
                                                                 aria-orientation="horizontal"
                                                                 aria-valuemin="0.0" aria-valuemax="150000.0"
                                                                 aria-valuenow="150000.0" aria-valuetext="150000">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>

                                    <div class="select-job-items2 mb-30">
                                        <div class="col-xl-12">
                                            <select name="select2" style="display: none;">
                                                <option value="">فیلتر براساس امتیاز</option>
                                                <option value="">5 ستاره</option>
                                                <option value="">4 ستاره</option>
                                                <option value="">3 ستاره</option>
                                                <option value="">2 ستاره</option>
                                                <option value="">1 ستاره</option>
                                            </select>
                                            <div class="nice-select" tabindex="0"><span
                                                    class="current">فیلتر براساس امتیاز</span>
                                                <ul class="list">
                                                    <li data-value="" class="option selected">فیلتر براساس امتیاز</li>
                                                    <li data-value="" class="option">5 ستاره</li>
                                                    <li data-value="" class="option">4 ستاره</li>
                                                    <li data-value="" class="option">3 ستاره</li>
                                                    <li data-value="" class="option">2 ستاره</li>
                                                    <li data-value="" class="option">1 ستاره</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="select-Categories pt-100 pb-60">
                                        <div class="small-tittle mb-20">
                                            <h4>فیلتر انتشارات</h4>
                                        </div>
                                        {% for publisher in publishers %}
                                            <label class="container">{{ publisher.name }}
                                                <input type="checkbox"
                                                       name="publisher"
                                                       value="{{ publisher.id }}"
                                                       {% if publisher.id|stringformat:"s" in selected_publishers %}
                                                       checked
                                                       {% endif %}>
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>


                                    <div class="select-Categories">
                                        <div class="small-tittle mb-20">
                                            <h4>فیلتر نویسنده</h4>
                                        </div>
                                        {% for author in authors %}
                                            <label class="container">{{ author.full_name }}
                                                <input type="checkbox"
                                                       name="author"
                                                       value="{{ author.id }}"
                                                        {% if author.id|stringformat:"s" in selected_authors %}
                                                       checked
                                                        {% endif %}>
                                                <span class="checkmark"></span>
                                            </label>

                                        {% endfor %}


                                    </div>
                                    <div class="text-center p-5">
                                        <button type="submit" class="border-btn border-btn2">اعمال فیلتر ها</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-xl-4">
                                    <div class="product_page_tittle">
                                        <div class="short_by">
                                            <select name="sort_by" id="product_short_list" style="display: none;">
                                                <option value="popularity"
                                                        {% if sort_by == "popularity" %}selected{% endif %}>
                                                    مرتب سازی براساس محبوبیت
                                                </option>
                                                <option value="name" {% if sort_by == "name" %}selected{% endif %}>
                                                    مرتب سازی براساس نام
                                                </option>
                                                <option value="newest" {% if sort_by == "newest" %}selected{% endif %}>
                                                    مرتب سازی براساس جدیدترین
                                                </option>
                                                <option value="oldest" {% if sort_by == "oldest" %}selected{% endif %}>
                                                    مرتب سازی براساس قدیمی‌ترین
                                                </option>
                                                <option value="cheap" {% if sort_by == "cheap" %}selected{% endif %}>
                                                    مرتب سازی براساس ارزانترین
                                                </option>
                                                <option value="expensive"
                                                        {% if sort_by == "expensive" %}selected{% endif %}>
                                                    مرتب سازی براساس گرانترین
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="best-selling p-0">
                                <div class="row">
                                    {% for book in books %}
                                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-6">
                                            <div class="properties pb-30">
                                                <div class="properties-card">
                                                    <div class="properties-img">
                                                        <a href="{% url 'literature:book_detail' book.id %}"><img
                                                                src="{{ book.cover_image.url }}"
                                                                alt=""></a>
                                                    </div>
                                                    <div class="properties-caption properties-caption2">
                                                        <h3>
                                                            <a href="{% url 'literature:book_detail' book.id %}">{{ book.title }}</a>
                                                        </h3>
                                                        <p>
                                                            {% for author in book.author.all %}
                                                                <a href="{% url 'literature:author_detail' author.id %}">{{ author.full_name }}</a>
                                                            {% endfor %}
                                                        </p>
                                                        <div class="properties-footer d-flex justify-content-between align-items-center">
                                                            <div class="review">
                                                                <div class="rating">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star-half-alt"></i>
                                                                </div>
                                                                <p>(<span>12</span> نظر)</p>
                                                            </div>
                                                            <div class="price">
                                                                <p>{{ book.price }}<span>تومان</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p class="text-center" style="margin-top: 100px">
                                            متاسفانه کتابی جهت نمایش وجود دارد
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if books %}
                            	<div class="row">
                                <div class="col-xl-12">
                                    <div class="more-btn text-center mt-15">
                                        <a href="#" class="border-btn border-btn2 more-btn2">مشاهده کتب بیشتر</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}