{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                    </li>
                    <li>
                        <a href="{% url 'literature:publishers' %}" class="breadcrumb-link">انتشارات</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">جزئیات ناشر</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="single-publisher">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="single-publisher-row d-flex align-items-center mb-0">
                            <div class="single-publisher-img">
                                <img src="{{ publisher.picture.url }}" alt="">
                            </div>
                            <div class="publisher-caption">
                                <div class="publisher-title">
                                    <h1>آشنایی با ناشر</h1>
                                </div>
                                <div class="meta">
                                    <p>نام ناشر: <span>{{ publisher.name }}</span></p>
                                    <p>تعداد کتب در این سایت:<a href="" target="_self">{{ publisher.pbooks.all.count }}
                                        کتاب</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10">
                        <div class="nav-button f-right">
                            <nav>
                                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                       role="tab" aria-controls="nav-one" aria-selected="true">اطلاعات ناشر</a>
                                    <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four"
                                       role="tab" aria-controls="nav-four" aria-selected="false">نظرات</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                        <div class="row">
                            <div class="desc-tab offset-xl-1 col-lg-9">
                                <p>{{ publisher.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">

                        <div class="row">
                            <div class="comment-tab offset-xl-1 col-lg-9">
                                <div class="container bootdey">
                                    <div class="col-md-12 bootstrap snippets">
                                        {% if request.user.is_authenticated %}
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form action="{% url 'home:comment' request.user.id model_name publisher.id app_label %}"
                                                          method="post"
                                                          novalidate>
                                                        {% csrf_token %}
                                                        {{ form.body }}
                                                        <div class="mar-top clearfix">
                                                            <button class="btn btn-sm btn-primary pull-right"
                                                                    type="submit"><i
                                                                    class="fa fa-pencil fa-fw"></i> ارسال نظر
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="panel">
                                            <div class="panel-body">
                                                <!-- Newsfeed Content -->
                                                <!--===================================================-->
                                                {% for comment in comments %}
                                                    <div class="media-block">
                                                        <a class="media-right"
                                                           href="{% url 'accounts:profile' comment.user.id %}">
                                                            {% if comment.user.profile.profile_picture %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{{ comment.user.profile.profile_picture.url }}">
                                                            {% else %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                            {% endif %}
                                                        </a>
                                                        <div class="media-body">
                                                            <div class="mar-btm">
                                                                <a href="{% url 'accounts:profile' comment.user.id %}"
                                                                   class="btn-link text-semibold media-heading box-inline"
                                                                   style="text-decoration: none">
                                                                    {% if comment.user.profile.first_name %}
                                                                        {{ comment.user.profile.first_name }}
                                                                        {{ comment.user.profile.last_name }}
                                                                    {% else %}
                                                                        بدون نام
                                                                    {% endif %}
                                                                </a>
                                                                <p class="text-muted text-sm"><i
                                                                        class="fa fa-check fa-lg"></i>
                                                                    {% if comment.user.id == post.user.id %}
                                                                        ادمین
                                                                    {% else %}
                                                                        کاربر سایت
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <p>{{ comment.body }}</p>
                                                            <div class="pad-ver d-flex">
                                                                {#                                                                <div class="btn-group">#}
                                                                {#                                                                    {% if liked %}#}
                                                                {#                                                                        <form action="{% url 'home:like_comment' 'comment' comment.id 'post' post.id %}"#}
                                                                {#                                                                              method="post">#}
                                                                {#                                                                            {% csrf_token %}#}
                                                                {#                                                                            <button type="submit"#}
                                                                {#                                                                                    class="btn btn-sm btn-default btn-hover-success"#}
                                                                {#                                                                                    style="background-color: #00a4a6!important;#}
                                                                {#                                                                                    color: white">#}
                                                                {#                                                                                <i#}
                                                                {#                                                                                        class="fa fa-thumbs-up"></i>#}
                                                                {#                                                                                <span>1</span>#}
                                                                {#                                                                            </button>#}
                                                                {#                                                                        </form>#}
                                                                {##}
                                                                {#                                                                    {% else %}#}
                                                                {#                                                                        <form action="{% url 'home:like_comment' 'comment' comment.id 'post' post.id %}"#}
                                                                {#                                                                              method="post">#}
                                                                {#                                                                            {% csrf_token %}#}
                                                                {#                                                                            <button type="submit"#}
                                                                {#                                                                                    class="btn btn-sm btn-default btn-hover-success active">#}
                                                                {#                                                                                <i#}
                                                                {#                                                                                        class="fa fa-thumbs-up"></i>#}
                                                                {#                                                                                <span>1</span>#}
                                                                {#                                                                            </button>#}
                                                                {#                                                                        </form>#}
                                                                {#                                                                    {% endif %}#}
                                                                {#                                                                </div>#}
                                                                <a class="btn btn-sm btn-default btn-hover-primary reply-btn"
                                                                   href="javascript:void(0)">پاسخ</a>
                                                            </div>

                                                            <!-- فرم ریپلای -->
                                                            <form action="{% url 'home:comment_reply' request.user.id model_name publisher.id comment.id app_label %}"
                                                                  method="post" novalidate>
                                                                {% csrf_token %}
                                                                <div class="reply-form"
                                                                     style="display: none; margin-top: 10px;">
                                                                    {{ form_reply.body }}
                                                                    <button class="btn btn-primary btn-sm"
                                                                            style="margin-top: 5px;">ارسال
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            <hr>

                                                            <!-- Comments -->
                                                            <div>
                                                                {% with replies=comment.rcomments.all %}
                                                                    {% for reply in replies %}
                                                                        <div class="media-block">
                                                                            <a class="media-right"
                                                                               href="{% url 'accounts:profile' reply.user.id %}">
                                                                                {% if reply.user.profile.profile_picture %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{{ reply.user.profile.profile_picture.url }}">
                                                                                {% else %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                                                {% endif %}
                                                                            </a>
                                                                            <div class="media-body">
                                                                                <div class="mar-btm">
                                                                                    <a href="{% url 'accounts:profile' reply.user.id %}"
                                                                                       class="btn-link text-semibold media-heading box-inline"
                                                                                       style="text-decoration: none"
                                                                                    >
                                                                                        {% if reply.user.profile.first_name %}
                                                                                            {{ reply.user.profile.first_name }}
                                                                                            {{ reply.user.profile.last_name }}
                                                                                        {% else %}
                                                                                            بدون نام
                                                                                        {% endif %}
                                                                                    </a>
                                                                                    <p class="text-muted text-sm">
                                                                                        <i
                                                                                                class="fa fa-person fa-lg">
                                                                                        </i>
                                                                                        {% if reply.user.id == post.user.id %}
                                                                                            ادمین
                                                                                        {% else %}
                                                                                            کاربر سایت
                                                                                        {% endif %}
                                                                                    </p>
                                                                                </div>
                                                                                <p>{{ reply.body }}</p>
                                                                                <div class="pad-ver">
                                                                                    <div class="btn-group">
                                                                                        {#                                                                                        {% if liked %}#}
                                                                                        {#                                                                                            <form action="{% url 'home:like' 'post' post.id %}"#}
                                                                                        {#                                                                                                  method="post">#}
                                                                                        {#                                                                                                {% csrf_token %}#}
                                                                                        {#                                                                                                <button type="submit"#}
                                                                                        {#                                                                                                        class="white-btn mr-10"#}
                                                                                        {#                                                                                                        style="background-color: #00a4a6; color: white">#}
                                                                                        {#                                                                                                    عدم پسندیدن#}
                                                                                        {#                                                                                                    <span style="margin-right: 5px">{{ form_like.content_id }}</span>#}
                                                                                        {#                                                                                                </button>#}
                                                                                        {#                                                                                            </form>#}
                                                                                        {##}
                                                                                        {#                                                                                        {% else %}#}
                                                                                        {#                                                                                            <form action="{% url 'home:like' model_name post.id %}"#}
                                                                                        {#                                                                                                  method="post">#}
                                                                                        {#                                                                                                {% csrf_token %}#}
                                                                                        {#                                                                                                <button type="submit"#}
                                                                                        {#                                                                                                        class="btn btn-sm btn-default btn-hover-success active">#}
                                                                                        {#                                                                                                    <i#}
                                                                                        {#                                                                                                            class="fa fa-thumbs-up"></i>#}
                                                                                        {#                                                                                                    <span>1</span>#}
                                                                                        {#                                                                                                </button>#}
                                                                                        {#                                                                                            </form>#}
                                                                                        {#                                                                                        {% endif %}#}

                                                                                    </div>
                                                                                </div>
                                                                                <hr>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <section class="blog-meta">
                                                        <div class="container">
                                                            <p>منتظر دیدگاه شما هستیم!</p>
                                                        </div>
                                                    </section>
                                                {% endfor %}
                                                <!--===================================================-->
                                                <!-- End Newsfeed Content -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="author-books section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55" id="books">
                            <h2>کتاب های این ناشر</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="author-books-box slick-initialized slick-slider slick-dotted">
                                <div class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1;">

                                        {% for book in publisher.pbooks.all %}
                                            <div class="properties pb-20 slick-slide" style="width: 244px;"
                                                 tabindex="-1" role="tabpanel"
                                                 aria-describedby="slick-slide-control{{ forloop.counter }}"
                                                 data-slick-index="{{ forloop.counter }}" aria-hidden="false">
                                                <div class="properties-card">
                                                    <div class="properties-img">
                                                        <a href="" tabindex="0">
                                                            <img src="{{ book.cover_image.url }}"
                                                                 alt="{{ book.title }}" class="img-fluid">
                                                        </a>
                                                    </div>
                                                    <div class="properties-caption">
                                                        <h3>
                                                            <a href=""
                                                               tabindex="0">{{ book.title }}
                                                            </a>
                                                        </h3>
                                                        <div class="properties-footer">
                                                            <div class="review">
                                                                <div class="rating">
                                                                    <!-- ستاره‌ها به‌صورت دستی یا داینامیک بسته به داده‌ها -->
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star-half-alt"></i>
                                                                </div>
                                                                <p>(<span>{{ book.comment.all.count }}</span> نظر)
                                                                </p>
                                                            </div>
                                                            <div class="price">
                                                                <p>{{ book.price }}<span>تومان</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            hi
                                        {% endfor %}

                                    </div>
                                </div>
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    {% for book in publisher.pbooks.all %}
                                        <li class="{% if forloop.first %}slick-active{% endif %}" role="presentation">
                                            <button type="button" role="tab"
                                                    id="slick-slide-control{{ forloop.counter }}"
                                                    aria-controls="slick-slide{{ forloop.counter }}"
                                                    aria-label="{{ forloop.counter }} of {{ books|length }}"
                                                    tabindex="0"
                                                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                                {{ forloop.counter }}
                                            </button>
                                        </li>
                                    {% empty %}
                                        hi
                                    {% endfor %}
                                </ul>

                                <div class="author-btn">
                                    <a href="#books" class="white-btn mr-10">کتاب های ناشر</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script>
        // اضافه کردن رویداد کلیک به دکمه پاسخ
        document.querySelectorAll('.reply-btn').forEach(button => {
            button.addEventListener('click', function () {
                // یافتن فرم مرتبط با دکمه
                const replyForm = this.closest('.pad-ver').nextElementSibling.querySelector('.reply-form');
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block'; // نمایش فرم
                } else {
                    replyForm.style.display = 'none'; // مخفی کردن فرم
                }
            });
        });
    </script>
{% endblock %}