{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">مترجمان</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>مترجمان</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="author_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="author_left_sidebar">
                            {% for translator in translators %}
                                <article class="author_item">
                                    <div class="author_item_img">
                                        {% if translator.picture %}
                                            <img class="card-img rounded-0" src="{{ translator.picture.url }}" alt="">
                                        {% else %}
                                            <img class="card-img rounded-0"
                                                 src="{% static 'img/default_avatar/default-avatar.png' %}" alt="">
                                        {% endif %}

                                        {#                                    <a href="#" class="author_item_gener">#}
                                        {#                                        <h3>زمینه</h3>#}
                                        {#                                        <p>{{ translator.field_of_writing.all|first }}</p>#}
                                        {#                                    </a>#}
                                    </div>
                                    <div class="author_details">
                                        <a class="d-inline-block"
                                           href="{% url 'literature:translator_detail' translator.id %}">
                                            <h2 class="author-head" style="color: #2d2d2d;">{{ translator.name }}</h2>
                                        </a>
                                        <p>{{ translator.description|truncatewords:50 }}</p>
                                        <ul class="author-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> {{ translator.tbooks.all.count }}
                                                کتاب</a></li>
                                            <li><a href="#"><i
                                                    class="fa fa-comments"></i> {{ translator.comment.all.count }}
                                                نظر</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% empty %}

                            {% endfor %}


                            <nav class="author-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="author_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="جستجو" name="search">
                                            <div class="input-group-append d-flex">
                                                <button class="boxed-btn2" type="submit">جستجو</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">مترجمان برتر</h3>
                                {% for t in top_translators %}
                                    <div class="media post_item">
                                        {% if t.picture %}
                                            <img class="card-img rounded-0" src="{{ t.picture.url }}" alt="">
                                        {% else %}
                                            <img class="card-img rounded-0"
                                                 src="{% static 'img/default_avatar/default-avatar.png' %}" alt="">
                                        {% endif %}

                                        <div class="media-body">
                                            <a href="{% url 'literature:translator_detail' t.id %}">
                                                <h3 style="color: #2d2d2d;">{{ t.name }}</h3>
                                            </a>
                                            <p>{{ t.tbooks.all.count }} کتاب</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    خالی
                                {% endfor %}
                            </aside>

                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">خبرنامه کابانا</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'ایمیل'" placeholder="ایمیل" required="">
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">عضویت
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}