{% extends 'base.html' %}
{% load static %}
{% load book_extras %}
{% block content %}
    <main>

        <div class="slider-area home">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-active dot-style">
                            {% for article in three_articles %}
                                <div class="single-slider slider-height slider-bg{{ article.id }} d-flex align-items-center">
                                    <div class="container">
                                        <div class="row slider-title">
                                            <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                                <div class="hero-caption">
                                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                                        {{ article.title }}
                                                    </h1>
                                                    <a href="{% url 'blog:blog_detail' article.id article.slug %}"
                                                       class="btn hero-btn" data-animation="bounceIn"
                                                       data-delay=".8s">مشاهده مقاله</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="categories-slider">
            <div class="container">
                <div class="row justify-content-right">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle">
                            <h2>دسته بندی های کابانا</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="categories-active">
                            {% for category in categories %}
                                <div class="category-item">
                                    <a href="{% url 'literature:books' %}?category={{ category.id }}"
                                       class="category-img">
                                        <img src='{{ category.picture.url }}'
                                             alt=""
                                             loading="lazy" style="height: 218px; width: 150px">
                                    </a>
                                    <a class="category-caption"
                                       href="{% url 'literature:books' %}?category={{ category.id }}">
                                        {{ category.name }}
                                    </a>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="best-selling section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>پرفروش ترین های این هفته</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="selling-active">

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling1.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">هستی</a></h3>
                                        <a href="#" target="_parent">فرهاد حسن زاده</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>12</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>150.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling2.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">پاستیل های بنفش</a></h3>
                                        <a href="#" target="_parent">کاترین اپلگیت</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>10</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>80.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling3.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">اثر مرکب</a></h3>
                                        <a href="#" target="_parent">دارن هاردی</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>60</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>150.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling4.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کتابخانه نیمه شب</a></h3>
                                        <a href="#" target="_parent">مت هیگ</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>9</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>35.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling5.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">مجموعه کتب جلال آل احمد</a></h3>
                                        <a href="#" target="_parent">انتشارات سبز</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>11</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>130.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src='{% static "img/book/best_selling6.jpg" %}'
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کیمیاگر</a></h3>
                                        <a href="#" target="_parent">پائولو کونیلو</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>3</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>160.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="{% static "img/book/best_selling4.jpg" %}"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کتابخانه نیمه شب</a></h3>
                                        <a href="#" target="_parent">مت هیگ</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>120</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>110.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-area2 top-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="row">

                            <div class="col-xl-12">
                                <div class="section-tittle d-flex justify-content-between align-items-center mb-40">
                                    <div class="title-area2">
                                        <img src="{% static 'img/icon/book-open-reader-solid.svg' %}"
                                             class="book-icon"/>
                                        <h2 class="mb-0">کتابــ ویژه این هفته</h2>
                                    </div>
                                    <a href="#" class="browse-btn">مشاهده همه</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="services-active">

                                    <div class="single-services d-flex align-items-center">
                                        <div class="features-img">
                                            <img src="{% static 'img/book/best-books1.jpg' %}" alt="">
                                        </div>
                                        <div class="features-caption">
                                            <h3>رهایی</h3>
                                            <p>نویسنده:<a href="#" target="_parent" class="author">ویرجینیا وولف</a></p>
                                            <div class="price">
                                                <p>110.000<span>تومان</span></p>
                                            </div>
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>120</span> نظر)</p>
                                            </div>
                                            <a href="book-details.html" class="border-btn">اطلاعات بیشتر</a>
                                        </div>
                                        <div class="timer">
                                            <div class="countdown_dashboard">
                                                <div class="dash day_dash"><span class="dash_title">روز</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash hour_dash"><span class="dash_title">ساعت</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash min_dash"><span class="dash_title">دقیقه</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash sec_dash"><span class="dash_title">ثانیه</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-services d-flex align-items-center">
                                        <div class="features-img">
                                            <img src="{% static 'img/book/best-books2.jpg' %}" alt="">
                                        </div>
                                        <div class="features-caption">
                                            <h3>اثر مرکب</h3>
                                            <p>نویسنده:<a href="#" target="_parent" class="author">دارن هاردی</a></p>
                                            <div class="price">
                                                <p>180.000<span>تومان</span></p>
                                            </div>
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>225</span> نظر)</p>
                                            </div>
                                            <a href="book-details.html" class="border-btn">اطلاعات بیشتر</a>
                                        </div>
                                        <div class="timer">
                                            <div class="countdown_dashboard">
                                                <div class="dash day_dash"><span class="dash_title">روز</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash hour_dash"><span class="dash_title">ساعت</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash min_dash"><span class="dash_title">دقیقه</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                                <div class="dash sec_dash"><span class="dash_title">ثانیه</span>
                                                    <div class="digi_num">
                                                        <div class="digit">0</div>
                                                        <div class="digit">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-9">

                        <div class="best-author">
                            <div class="best-author-title">
                                <h3>نویسندگان برتر</h3>
                            </div>
                            <hr>
                            <ul class="best-author-box">
                                {% for author in top_authors %}
                                    <li>
                                        <img src="{{ author.picture.url }}" alt="">
                                        <p>{{ author.full_name }}</p>
                                        <a href="{% url 'literature:author_detail' author.id %}"><i
                                                class="fa-solid fa-circle-chevron-left"></i></a>
                                    </li>
                                {% endfor %}

                            </ul>
                            <hr>
                            <div class="best-author-footer">
                                <a href="{% url 'literature:authors' %}">همه نویسندگان</a>
                                <a href="{% url 'literature:authors' %}"><i class="fa-solid fa-circle-chevron-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-12">

                        <div class="section-tittle  mb-40">
                            <h2>جدیدترین کتبــ</h2>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="nav-button mb-40">

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                       role="tab" aria-controls="nav-one" aria-selected="true">همه</a>
                                    {% for category in top_categories %}
                                        <a class="nav-link" id="nav-{{ category.id }}-tab" data-bs-toggle="tab"
                                           href="#nav-{{ category.id }}" role="tab"
                                           aria-controls="nav-two" aria-selected="false">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                        <div class="row">
                            {% for book in latest_books %}
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                                    <div class="properties pb-30">
                                        <div class="properties-card">
                                            <div class="properties-img">
                                                <a href="{% url 'literature:book_detail' book.id %}">
                                                    <img
                                                            src="{{ book.cover_image.url }}"
                                                            alt="" style="height: 296px !important;">
                                                </a>
                                            </div>
                                            <div class="properties-caption properties-caption2">
                                                <h3>
                                                    <a href="{% url 'literature:book_detail' book.id %}">{{ book.title }}</a>
                                                </h3>
                                                <p>نویسنده:<a href="#" target="_parent"
                                                              class="author">
                                                    {% for author in book.author.all %}
                                                        {{ author.full_name }}
                                                    {% endfor %}

                                                </a>
                                                </p>
                                                <div
                                                        class="properties-footer d-flex justify-content-between align-items-center">
                                                    <div class="review">
                                                        <div class="rating">
                                                            {{ book.rate|render_stars|safe }}
                                                        </div>
                                                        <p>(<span>{{ book.comment.all.count }}</span> نظر)</p>
                                                    </div>
                                                    <div class="price">
                                                        <p>{{ book.price }}<span>تومان</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for category in top_categories %}
                        {% get_latest_books_in_category category.name as books_in_category %}
                        <div class="tab-pane fade" id="nav-{{ category.id }}" role="tabpanel"
                             aria-labelledby="nav-{{ category.id }}-tab">

                            <div class="row">
                                {% for book in books_in_category %}
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                                        <div class="properties pb-30">
                                            <div class="properties-card">
                                                <div class="properties-img">
                                                    <a href="{% url 'literature:book_detail' book.id %}"><img
                                                            src="{{ book.cover_image.url }}"
                                                            alt="" style="height: 296px !important;">
                                                    </a>
                                                </div>
                                                <div class="properties-caption properties-caption2">
                                                    <h3>
                                                        <a href="{% url 'literature:book_detail' book.id %}">{{ book.title }}</a>
                                                    </h3>
                                                    <p>نویسنده:<a href="#" target="_parent" class="author">
                                                        {% for author in book.author.all %}
                                                            {{ author.full_name }}
                                                        {% endfor %}

                                                    </a></p>
                                                    <div
                                                            class="properties-footer d-flex justify-content-between align-items-center">
                                                        <div class="review">
                                                            <div class="rating">
                                                                {{ book.rate|render_stars|safe }}
                                                            </div>
                                                            <p>(<span>{{ book.comment.all.count }}</span> نظر)</p>
                                                        </div>
                                                        <div class="price">
                                                            <p>{{ book.price }}<span>تومان</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="more-btn text-center mt-15">
                            <a href="{% url 'literature:books' %}?sorted_by=newest"
                               class="border-btn border-btn2 more-btn2">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="publishers">
            <div class="container">
                <div class="row">
                    <div class="section-tittle">
                        <h2>ناشران برتر</h2>
                    </div>
                </div>

                <div class="row lists">
                    {% for publisher in top_publishers %}
                        <div class="list" id="item-{{ publisher.id }}">
                            <div class="list-image">
                                {% if publisher.picture %}
                                    <a href="{% url 'literature:publisher_detail' publisher.id %}" target="_self">
                                        <img src="{{ publisher.picture.url }}" alt=""/>
                                    </a>
                                {% else %}
                                    <a href="{% url 'literature:publisher_detail' publisher.id %}" target="_self">
                                        <img src="{% static 'img/default_avatar/default-avatar.png' %}" alt=""/>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="list-caption">
                                <a href="{% url 'literature:publisher_detail' publisher.id %}"
                                   target="_self">{{ publisher.name }}</a>
                                <p>تعداد کتب در این سایت:<span>{{ publisher.pbooks.count }} عدد</span></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="wantToWork-area w-padding2 mb-30" data-background="{% static 'img/bg/wants-bg1.jpg' %}">
                        <div class="linking">
                            <a href="#" class="btn wantToWork-btn">خرید کتاب</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="wantToWork-area w-padding2 mb-30" data-background="{% static 'img/bg/wants-bg2.jpg' %}">
                        <div class="linking">
                            <a href="#" class="btn wantToWork-btn">خرید کتاب</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container">
                <div class="row testimonial-head">
                    <div class="section-tittle">
                        <h2>نظر مشتریان کابانا</h2>
                    </div>
                    <hr class="solid">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="customers-testimonials" class="owl-carousel">
                            {% for comment in top_comments %}
                                <div class="item">
                                    <div class="shadow-effect">
                                        <img class="img-circle" src="{{ comment.user.profile.profile_picture.url }}"
                                             alt="">
                                        <p>{{ comment.body }}</p>
                                    </div>
                                    <div class="testimonial-name">
                                        {% if comment.user.profile.first_name %}
                                            {{ comment.user.profile.first_name }}
                                        {% else %}
                                            کاربر سایت
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <!--TESTIMONIAL 1 -->


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe-area">
            <div class="container">
                <div class="subscribe-caption text-center subscribe-padding section-img2-bg"
                     data-background="{% static 'img/bg/newsletter-bg.jpg' %}"
                     style="background-image: url('static/img/bg/newsletter-bg.jpg');">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-9">
                            <h3>خبرنامه کابانا</h3>
                            <p>هر ماه یک کتاب الکترونیکی رایگان به ایمیل اعضای خبرنامه ارسال می گردد.</p>
                            <form action="#">
                                <input type="text" placeholder="ایمیل">
                                <button class="subscribe-btn">عضویت در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}