{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'includes/head_links.html' %}
    <title>Document</title>
    <style>
        .avatar {
            vertical-align: middle;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
<main>

    <div class="breadcrumb-items">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                </li>
                <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                <li>
                    <a href="{% url 'accounts:profile' %}" class="breadcrumb-link">پروفایل</a>
                </li>
                <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                <li>
                    <span class="breadcrumb-active">ویرایش پروفایل</span>
                </li>
            </ul>
        </div>
    </div>

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
                          novalidate="novalidate">
                        {% csrf_token %}
                        <div style="text-align: center" class="col-lg-12 mb-5">
                            <a href="">
                                {{ form.profile_picture }}
{#                                <img src="{% static 'img/author/barbara.jpg' %}" alt="Avatar"#}
{#                                     class="avatar img-thumbnail border border-success shadow">#}
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.first_name }}
{#                                    <input class="form-control valid" name="name" id="name" type="text"#}
{#                                           onfocus="this.placeholder = ''"#}
{#                                           onblur="this.placeholder = '{{ form.first_name.label }}'"#}
{#                                           placeholder="{{ form.first_name.label }}">#}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.last_name }}
{#                                    <input class="form-control valid" name="last_name" id="last_name" type="text"#}
{#                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام خانوادگی'"#}
{#                                           placeholder="نام خانوادگی">#}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.phone_number }}
{#                                    <input class="form-control" name="phone_number" id="phone_number" type="text"#}
{#                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'شماره تلفن'"#}
{#                                           placeholder="شماره تلفن">#}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.date_of_birth }}
{#                                    <input class="form-control valid" name="date_of_birth" id="date_of_birth"#}
{#                                           type="date"#}
{#                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'تاریخ تولد'"#}
{#                                           placeholder="تاریخ تولد">#}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.gender }}
{#                                    <text class="text-muted">جنسیت:</text>#}
{#                                    <input type="radio" id="html" name="gender" value="مرد" class="mr-10">#}
{#                                    <label for="html">مرد</label>#}
{#                                    <input type="radio" id="css" name="gender" value="زن">#}
{#                                    <label for="css">زن</label><br>#}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.bio }}
{#                                        <textarea class="form-control w-100" name="message" id="message" cols="30"#}
{#                                                  rows="9"#}
{#                                                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'متن پیام'"#}
{#                                                  placeholder="درباره خودت بنویس"></textarea>#}
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">ارسال</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
    </section>

</main>
{% include 'includes/back-top.html' %}
{% include 'includes/scripts.html' %}
</body>
</html>