

{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    {% include 'accounts/includes/head_links.html' %}
    <title>قالب html کابانا</title>
    <link rel="stylesheet" href="{% static 'accounts/css/profile_css.css' %}">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>
<main class="register-bg">

    <div class="breadcrumb-items">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home:home' %}" class="breadcrumb-link" style="font-size: small">صفحه اصلی</a>
                </li>
                <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                <li>
                    <span class="breadcrumb-active" style="font-size: small">پروفایل</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="profile-env">
            {% include 'includes/messages.html' %}
            <header class="row justify-content-center text-center">
                <!-- Profile Picture -->
                <div class="col-lg-12 col-sm-12 mb-3 d-flex justify-content-center" style="width: 40%;">
                    <a href="#" class="profile-picture">
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture.url }}"
                                 alt=""
                                 class="img-responsive border-success"
                                 style="border-radius: 50%; width: 120px; height: 120px;">
                        {% else %}
                            <img src="{% static 'img/default_avatar/default-avatar.png' %}" alt=""
                                 class="img-responsive img-circle" style="width: 120px; height: 120px;">
                        {% endif %}
                    </a>
                </div>

                <!-- Profile Info Sections -->
                <div class="col-12 d-flex justify-content-center mt-3">
                    <div class="profile-name">
                        <strong>
                            <a href="#" class="" style="color: #037f81; font-family: monospace">
                                {{ user.profile.first_name }} {{ user.profile.last_name }}
                            </a>
                        </strong>
                    </div>
                </div>
                <hr style="border: none; height: 2px; background-color: #ccc; margin: 20px 0;">
                <div class="col-12 d-flex justify-content-center mb-2">
                    <ul class="profile-info-sections list-unstyled d-flex justify-content-center gap-4">
                        <li>
                            <div class="profile-stat">
                                <h3>{{ user.profile.follower }}</h3>
                                <span>
                        <a href="#">دنبال کنندگان</a>
                    </span>
                            </div>
                        </li>
                        <li>
                            <div class="profile-stat">
                                <h3>{{ user.profile.following }}</h3>
                                <span>
                        <a href="#">دنبال شوندگان</a>
                    </span>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Buttons Section -->
                {% if request.user.is_authenticated and request.user.id == user.id %}
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="profile-buttons">
                                <div class="form-group mt-3">
                                    <a href="{% url 'accounts:edit_profile' user.id %}"
                                       class="button  button-contactForm boxed-btn"
                                       style="text-decoration: none">
                                        ویرایش پروفایل
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <a href="{% url 'accounts:logout'%}"
                               class="btn-danger boxed-btn"
                               style="text-decoration: none; color: white !important;">
                                خروج از حساب
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if request.user.is_authenticated %}
                        {% if is_following %}
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="profile-buttons">
                                        <div class="form-group mt-3">
                                            <a href="{% url 'accounts:unfollow' user.id %}"
                                               class="button  button-contactForm boxed-btn btn-danger"
                                               style="text-decoration: none; color: white !important;">
                                                دنبال نکردن
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="profile-buttons">
                                        <div class="form-group mt-3">
                                            <a href="{% url 'accounts:follow' user.id %}"
                                               class="button  button-contactForm boxed-btn"
                                               style="text-decoration: none">
                                                دنبال کردن
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr style="border: none; height: 2px; background-color: #ccc; margin: 20px 0;">
            </header>
            {% if request.user.is_authenticated and request.user.id == user.id %}
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-contact" action="{% url 'accounts:profile' user.id %}"
                              method="post"
                              id="contactForm"
                              novalidate="novalidate" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ post_form.content }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button  button-contactForm boxed-btn">پست</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <section class="profile-feed">
                <!-- profile stories -->
                <div class="profile-stories">
                    <div style="max-width: 100%; margin: auto; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); padding: 15px;">
                        {% for post in posts %}
                            <div style="padding: 7px 0;">
                                <div style="font-size: 15px; font-weight: bold; margin-bottom: 5px; color: #000;">
                                    <span>{{ forloop.counter }}</span>.
                                    <a href=""
                                       style="text-decoration: none;
                                       color: #000000;
                                       margin-right: 5px">{{ post.content|truncatewords:'15' }}
                                    </a>
                                </div>
                                <div style="font-size: 12px; color: #888; margin-right: 20px">
                                    <span style="margin-left: 10px;">۱۱۵ لایک</span>
                                    <span style="margin-left: 10px;">{{ post.created_at|date:'Y/m/d' }} </span>
                                    <span>|</span>
                                    <span>۳۷ نظر</span>
                                </div>
                            </div>
                        {% empty %}
                            <p>پستی وجود ندارد</p>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-icon icon-left">
                            <i class="entypo-hourglass"></i>
                            بیشتر ...
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>


</main>
{#{% include 'accounts/includes/scripts.html' %}#}
<script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

</body>
</html>




