{% load static %}
{% load book_extras %}
<footer>
    <div class="footer-wrappper section-bg">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">

                                <div class="footer-logo mb-25">
                                    <a href="{% url 'home:home' %}"><img src='{% static "img/logo/logo2_footer.png" %}'
                                                                         alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>با کابانا دسترسی سریع به کتابا</p>
                                    </div>
                                </div>

                                <div class="footer-social">
                                    <a href="https://www.facebook.com/YourPage" target="_blank"><i
                                            class="fab fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/YourProfile" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/YourProfile" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.youtube.com/c/YourChannel" target="_blank"><i
                                            class="fab fa-youtube"></i></a>
                                    <a href="https://t.me/YourTelegram" target="_blank"><i class="fab fa-telegram"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>راهنمای سایت</h4>
                                <ul class="mb-20">
                                    <li><a href="{% url 'home:about_us' %}">درباره ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                کپی رایت &copy; تمام حقوق محفوظ می باشد | توسعه داده شده با <i
                                    class="fa fa-heart color-danger" aria-hidden="true"></i> توسط <a
                                    href="https://www.rtl-theme.com/author/samyar1/products/"
                                    style="color: rgb(0, 0, 0)" target="_blank" rel="nofollow noopener">روحی</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>