{% load static %}
{% load book_extras %}
<header>
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="d-flex justify-content-between align-items-center flex-sm">
                                <div class="header-info-left d-flex align-items-center">

                                    <div class="logo">
                                        <a href="{% url 'home:home' %}"><img src='{% static "img/logo/logo.png" %}'
                                                                             alt=""></a>
                                    </div>

                                    <form action="{% url 'literature:books' %}" class="form-box" method="get">
                                        <input type="text"
                                               name="search"
                                               placeholder="جستجوی کتاب براساس نویسنده یا انتشارات"
                                               value="{{ request.GET.search }}">
                                        <div class="search-icon">
                                            <button type="submit" style="background: none; border: none;">
                                                <i class="ti-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <ul>
                                        <li><a href="#">راهنما</a></li>
                                        <li><a href="#">پیگیری سفارشات</a></li>
                                        <li class="shopping-card">
                                            <a href="{% url 'orders:cart' %}"><img src='{% static "img/icon/cart.svg" %}' alt=""></a>
                                            {{ cart|length }}
                                        </li>
                                        {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'accounts:profile' request.user.id %}"
                                                   class="btn header-btn">پروفایل</a></li>
                                        {% else %}
                                            <li><a href="{% url 'accounts:login' %}" class="btn header-btn">ورود</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="text-center">
                            {% include 'includes/messages.html' %}
                        </div>
                        <div class="col-xl-12">

                            <div class="logo2">
                                <a href="{% url 'home:home' %}"><img src='{% static "img/logo/logo.png" %}' alt=""></a>
                            </div>

                            <div class="main-menu text-center d-none d-lg-block">
                                <nav>
                                    <ul id="navigation" class="menu">
                                        <li><a href="{% url 'home:home' %}">صفحه اصلی</a></li>

                                        <li><a href="#">دسته بندی موضوعی</a>
                                            <div class="megadrop">
                                                <div class="mega-head">
                                                    {% for group in categories|chunk:3 %}
                                                        <div class="col">
                                                            <ul>
                                                                {% for category in group %}
                                                                    <li>
                                                                        <a href="{% url 'literature:books' %}?category={{ category.id }}">
                                                                            {{ category.name }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="mega-foot">
                                                    <div class="col-12">
                                                        <a href="{% url 'literature:authors' %}">صفحه نویسندگان</a>
                                                        <a href="{% url 'literature:translators' %}">صفحه مترجمان</a>
                                                        <a href="{% url 'literature:publishers' %}">صفحه ناشران</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="{% url 'blog:blogs' %}">وبلاگ</a></li>
                                        <li><a href="about.html">درباره ما</a></li>
                                        <li><a href="contact.html">تماس با ما</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>