{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                    </li>
                    <li>
                        <a href="{% url 'blog:blogs' %}" class="breadcrumb-link">وبلاگ</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">جزئیات وبلاگ</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="single-blog">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="single-blog-row d-flex align-items-center mb-0">
                            <div class="single-blog-img col-xxl-8">
                                <img src="{{ blog.picture.url }}" alt="">
                            </div>
                            <div class="blog-caption col-xxl-4">
                                <div class="blog-title">
                                    <h1>{{ blog.title }}</h1>
                                </div>
                                <div class="meta">
                                    <p>نویسنده مقاله: <a href="#" target="_self">
                                        {% if blog.user.profile.first_name and blog.user.profile.last_name %}
                                            {{ blog.user.profile.first_name }} {{ blog.user.profile.last_name }}
                                        {% else %}
                                            بدون نام
                                        {% endif %}
                                    </a></p>
                                    <p>تاریخ انتشار:<span>{{ blog.created_at|date:'d F Y' }}</span></p>
                                    <div class="review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <p>(<span>{{ blog.comment.count }}</span> نظر)</p>
                                    </div>
                                </div>
                                {#                                <div class="blog-btn">#}
                                {#                                    <a href="#" class="white-btn mr-10">خرید این کتاب از فروشگاه</a>#}
                                {#                                    <a href="#" class="border-btn blog-btn share-btn"><i#}
                                {#                                            class="fas fa-share-alt"></i></a>#}
                                {#                                    <a href="#" class="border-btn blog-btn print-btn"><i class="fas fa-print"></i></a>#}
                                {#                                </div>#}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10">
                        <div class="nav-button f-right">

                            <nav>
                                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                       role="tab" aria-controls="nav-one" aria-selected="true">متن مقاله</a>
                                    <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four"
                                       role="tab" aria-controls="nav-four" aria-selected="false">نظرات</a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                        <div class="row">
                            <div class="desc-tab offset-xl-1 col-lg-9">
                                <p>{{ blog.body|linebreaks }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">

                        <div class="row">
                            <div class="comment-tab offset-xl-1 col-lg-9">
                                <div class="container bootdey">
                                    <div class="col-md-12 bootstrap snippets">

                                        {% if request.user.is_authenticated %}
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form action="{% url 'home:comment' request.user.id model_name blog.id app_label %}"
                                                          method="post"
                                                          novalidate>
                                                        {% csrf_token %}
                                                        {{ form.body }}
                                                        <div class="mar-top clearfix">
                                                            <button class="btn btn-sm btn-primary pull-right"
                                                                    type="submit"><i
                                                                    class="fa fa-pencil fa-fw"></i> ارسال نظر
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}


                                        <div class="panel">
                                            <div class="panel-body">
                                                {% for comment in comments %}
                                                    <div class="media-block">
                                                        <a class="media-right"
                                                           href="{% url 'accounts:profile' comment.user.id %}">
                                                            {% if comment.user.profile.profile_picture %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{{ comment.user.profile.profile_picture.url }}">
                                                            {% else %}
                                                                <img class="img-circle img-sm"
                                                                     alt="Profile Picture"
                                                                     src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                            {% endif %}
                                                        </a>
                                                        <div class="media-body">
                                                            <div class="mar-btm">
                                                                <a href="{% url 'accounts:profile' comment.user.id %}"
                                                                   class="btn-link text-semibold media-heading box-inline"
                                                                   style="text-decoration: none">
                                                                    {% if comment.user.profile.first_name %}
                                                                        {{ comment.user.profile.first_name }}
                                                                        {{ comment.user.profile.last_name }}
                                                                    {% else %}
                                                                        بدون نام
                                                                    {% endif %}
                                                                </a>
                                                                <p class="text-muted text-sm"><i
                                                                        class="fa fa-check fa-lg"></i>
                                                                    {% if comment.user.id == post.user.id %}
                                                                        ادمین
                                                                    {% else %}
                                                                        کاربر سایت
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <p>{{ comment.body }}</p>
                                                            <div class="pad-ver d-flex">
                                                                <a class="btn btn-sm btn-default btn-hover-primary reply-btn"
                                                                   href="javascript:void(0)">پاسخ</a>
                                                            </div>

                                                            <!-- فرم ریپلای -->
                                                            <form action="{% url 'home:comment_reply' request.user.id model_name blog.id comment.id app_label %}"
                                                                  method="post" novalidate>
                                                                {% csrf_token %}
                                                                <div class="reply-form"
                                                                     style="display: none; margin-top: 10px;">
                                                                    {{ form_reply.body }}
                                                                    <button class="btn btn-primary btn-sm"
                                                                            style="margin-top: 5px;">ارسال
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            <hr>

                                                            <!-- Comments -->
                                                            <div>
                                                                {% with replies=comment.rcomments.all %}
                                                                    {% for reply in replies %}
                                                                        <div class="media-block">
                                                                            <a class="media-right"
                                                                               href="{% url 'accounts:profile' reply.user.id %}">
                                                                                {% if reply.user.profile.profile_picture %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{{ reply.user.profile.profile_picture.url }}">
                                                                                {% else %}
                                                                                    <img
                                                                                            class="img-circle img-sm"
                                                                                            alt="Profile Picture"
                                                                                            src="{% static 'img/default_avatar/default-avatar.png' %}">
                                                                                {% endif %}
                                                                            </a>
                                                                            <div class="media-body">
                                                                                <div class="mar-btm">
                                                                                    <a href="{% url 'accounts:profile' reply.user.id %}"
                                                                                       class="btn-link text-semibold media-heading box-inline"
                                                                                       style="text-decoration: none"
                                                                                    >
                                                                                        {% if reply.user.profile.first_name %}
                                                                                            {{ reply.user.profile.first_name }}
                                                                                            {{ reply.user.profile.last_name }}
                                                                                        {% else %}
                                                                                            بدون نام
                                                                                        {% endif %}
                                                                                    </a>
                                                                                    <p class="text-muted text-sm">
                                                                                        <i
                                                                                                class="fa fa-person fa-lg">
                                                                                        </i>
                                                                                        {% if reply.user.id == post.user.id %}
                                                                                            ادمین
                                                                                        {% else %}
                                                                                            کاربر سایت
                                                                                        {% endif %}
                                                                                    </p>
                                                                                </div>
                                                                                <p>{{ reply.body }}</p>
                                                                                <div class="pad-ver">
                                                                                    <div class="btn-group">
                                                                                    </div>
                                                                                </div>
                                                                                <hr>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <section class="blog-meta">
                                                        <div class="container">
                                                            <p>منتظر دیدگاه شما هستیم!</p>
                                                        </div>
                                                    </section>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-meta">
            <div class="container">
                <div class="tag">
                    <p>برچسب:</p>
                    {% for tag in blog.tag.all %}
                        <a href="{% url 'blog:blogs' %}?tag={{ tag.id }}" target="_self"><span>#</span>{{ tag.name }}
                        </a>
                    {% empty %}
                        بدون تگ
                    {% endfor %}
                </div>
                <div class="cat">
                    <p>دسته بندی:</p>
                    {% for category in blog.category.all %}
                        <a href="{% url 'blog:blogs' %}?category={{ category.id }}"
                           target="_self">{{ category.name }}</a>
                    {% empty %}
                        مشحص نشده
                    {% endfor %}


                </div>
            </div>
        </section>

        <section class="related-blogs section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>مطالب مرتبط</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="related-blogs-box slick-initialized slick-slider slick-dotted">


                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                         style="opacity: 1; width: 3080px; transform: translate3d(1232px, 0px, 0px);">
                                        {% for blog in related_blogs %}
                                            <div class="properties pb-20 slick-slide slick-cloned" style="width: 308px;"
                                                 data-slick-index="{{ forloop.counter }}" aria-hidden="true"
                                                 tabindex="-1">
                                                <div class="properties-card">
                                                    <div class="properties-img">
                                                        <a href="{% url 'blog:blog_detail' blog.id blog.slug %}"
                                                           tabindex="-1"><img
                                                                src="{{ blog.picture.url }}" alt=""></a>
                                                    </div>
                                                    <div class="properties-caption">
                                                        <h3><a href="book-details.html" tabindex="-1">
                                                            {{ blog.title }}
                                                        </a></h3>
                                                        <div class="properties-footer">
                                                            <p>
                                                                {{ blog.body|truncatewords:15 }}
                                                            </p>
                                                            <div class="review">
                                                                <p>(<span>{{ blog.comment.all.count }}</span> نظر)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>متاسفانه مطالب مرتبط وجود ندارد!</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    {% for blog in related_blogs %}
                                        <li class="{% if forloop.first %}slick-active{% endif %}" role="presentation">
                                            <button type="button" role="tab"
                                                    id="slick-slide-control{{ forloop.counter }}"
                                                    aria-controls="slick-slide{{ forloop.counter }}"
                                                    aria-label="{{ forloop.counter }} of {{ related_blogs|length }}"
                                                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                                    tabindex="-1">{{ forloop.counter }}
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script>
        // اضافه کردن رویداد کلیک به دکمه پاسخ
        document.querySelectorAll('.reply-btn').forEach(button => {
            button.addEventListener('click', function () {
                // یافتن فرم مرتبط با دکمه
                const replyForm = this.closest('.pad-ver').nextElementSibling.querySelector('.reply-form');
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block'; // نمایش فرم
                } else {
                    replyForm.style.display = 'none'; // مخفی کردن فرم
                }
            });
        });
    </script>
{% endblock %}