{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">وبلاگ</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>وبلاگ</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% for blog in blogs %}
                            	<article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ blog.picture.url }}" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ blog.created_at|date:'d' }}</h3>
                                        <p>{{ blog.created_at|date:'M' }}</p>
                                        <span>{{ blog.created_at|date:'Y' }}</span>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="{% url 'blog:blog_detail' blog.id blog.slug %}">
                                        <h2 class="blog-head" style="color: #2d2d2d;">معرفی کتاب بار هستی</h2>
                                    </a>
                                    <p>{{ blog.body|truncatewords:50 }}</p>
                                    <ul class="blog-info-link">
                                        {% for category in blog.category.all %}
                                        	<li><a href=""><i class="fa fa-user"></i>
                                                {{ category.name }}

                                        </a></li>
                                        {% endfor %}
                                        <li><a href="#"><i class="fa fa-comments"></i> {{ blog.comment.all.count }} نظر</a></li>
                                    </ul>
                                </div>
                            </article>
                            {% empty %}
                            	<p class="text-center">مقاله وجود ندارد!</p>
                            {% endfor %}

                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <form action="">
                                                <input type="text"
                                                       class="form-control" name="search"
                                                       placeholder="جستجو براساس عنوان و نام نویسنده مقاله">
                                                <div class="input-group-append d-flex">
                                                    <button class="boxed-btn2" type="submit">جستجو</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">دسته بندی</h4>
                                <ul class="list cat-list">
                                    {% for category in categories %}
                                    	<li>
                                        <a href="{% url 'blog:blogs' %}?category={{ category.id }}" class="d-flex">
                                            <p>{{ category.name }}</p>
                                        </a>
                                    </li>
                                    {% empty %}
                                    	خالی
                                    {% endfor %}
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">مطالب اخیر</h3>
                                {% for blog in latest_blogs %}
                                	<div class="media post_item">
                                    <img src="{{ blog.picture.url }}" alt="post">
                                    <div class="media-body">
                                        <a href="{% url 'blog:blog_detail' blog.id blog.slug %}">
                                            <h3 style="color: #2d2d2d;">{{ blog.title }}</h3>
                                        </a>
                                        <p>{{ blog.created_at|date:'M d Y' }}</p>
                                    </div>
                                </div>
                                {% empty %}
                                	خالی
                                {% endfor %}
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">ابر برچسب ها</h4>
                                <ul class="list">
                                    {% for tag in tags %}
                                    	<li>
                                        <a href="{% url 'blog:blogs' %}?tag={{ tag.id }}">{{ tag.name }}</a>
                                    </li>
                                    {% empty %}
                                    	خالی
                                    {% endfor %}
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">خبرنامه کابانا</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'ایمیل'" placeholder="ایمیل" required="">
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">عضویت
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}