<section class="profile-info-tabs mt-4">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <!-- tabs for the profile links -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#profile-info" class="text-muted">پروفایل</a>
                </li>
                <li>
                    <a href="{% url 'accounts:edit_profile' %}" class="text-dark">ویرایش پروفایل</a>
                </li>
            </ul>
        </div>
    </div>
</section>